<script type="text/javascript">
    function streamTest(){
        var path="";
        if (!document.getElementById('default').checked) path = document.getElementById("localServerInput").value+"/3-24/0121200000DVBT6x1.mp4";
        var html = '<video id="playertest" src='+path+' height="80px" crossorigin="anonymous"></video>';
        document.getElementById('videoTest').innerHTML = html;
        document.getElementById('playertest').play();
    }
    function eraseTest(){
        document.getElementById('videoTest').innerHTML = "";
    }

</script>

<div ng-controller="EvidenceCtrl" ng-show='isLogged()' ng-init="model.popQueueElement()">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Stream server settings</h4>
                </div>
                <div class="modal-body">
                    In this window, you will be able to define how you will stream the videos tha will be annotated.
                    </br></br>
                    Use default path:
                    <input type="checkbox" id="default" class="form-control" ng-model="model.useDefaultVideoPath" style="width:34px;"> </br>
                    <div ng-hide="model.useDefaultVideoPath">
                        Define new path:
                        <input id="localServerInput" type="text" class="form-control" ng-model="model.videoPath">
                        </br>
                        <span>
                            <button type="button" class="btn btn-default" style="float:left;" onclick="streamTest()">Test</button>
                            <div id="videoTest" style="float:left;"></div>
                        </span> 
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="eraseTest()" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row top-padding">
            <div class="col-lg-2 col-md-pull-0 col-xs-pull-0">
            </div>
            <div class="col-lg-8 col-md-12 col-xs-12" style="width:670px;">
                <label id="message" style="color:red; top:-10px;"></label>
                <div id="video-container">
                    <video id="player" cm-video-player ng-src={{model.video}} height="360px" crossorigin="anonymous">
                    </video>
                    <drawing id="draw" rectangle-list='rectangles'></drawing>
                    <div class="controls">
                        <div id="play-button">
                            <button type="button" class="video-control" id="play-pause" ng-click="model.toggle_play()">
                                {{ model.play_label }}
                            </button>
                        </div>
                        <div id="control-bar" title="Drag to reference frame">
                            <div id="controlsoverlay">
                                <input width="100%" type="range" id="seek-bar" min="{{ model.infbndsec }}" max="{{ model.supbndsec }}" step="{{ (model.supbndsec - model.infbndsec) / 400 }}" ng-model="model.current_time">
                            </div>
                        </div>
                        <div id="time-display">
                            <label>{{ model.current_time_display }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <canvas id="recup" style="position:relative; display:none;"></canvas>
            <span style="float: right" ng-show="model.isDisplayedVideo">
            <div id="evidence_button_id" style="margin-top: 30px;margin-left: -180px;" alt="">
                <input id="confirm" class="image-button" type="image" src="../img/validate.png"  value="Evidence" ng-click="model.saveQueueElement('yes')" width="90px" height="90px">
            </div>
            <div id="not_evidence_button_id" style="margin-top: 60px;margin-left: -180px;">
                <input id="cancel" class="image-button" type="image" src="../img/un validate.png" value="Not Evidence" ng-click="model.saveQueueElement('no')" width="90px" height="90px">
            </div>
            <div id="not_name_button_id" style="margin-top: 60px;margin-left: -180px;">
                <input id="notName" class="image-button" type="image" src="../img/Nan.png" value="Not A Name" ng-click="model.saveQueueElement('ko')" width="90px" height="90px">
            </div>
            </span>
        </div>
    </div>
    <div class="container-fluid" ng-show="model.isDisplayedVideo" style="margin-top: 30px;margin-left: 85px;">
        <div class="col-lg-1 col-md-pull-0 col-xs-pull-0">
        </div>
        <div class="col-lg-8 col-md-12 col-xs-12">
            <div class="input-group">
                <span class="input-group-addon" data-title="Enter your own annotation here"><b>Element:</b></span>
                <form ng-submit="model.addEntry()" class="ng-pristine ng-valid">
                    <input id="entry_input" name="entry_input" type="text" style="font-size:25px;height:50px;" class="form-control ng-pristine ng-valid" ng-model="model.user_input.person_name">
                </form>
            </div>
        </div>
    </div>
    <canvas id="evid" style="position:relative; display:none;"></canvas>
    </br>
    <div id="evidenceImages" style="display:none;">
        Evidence image preview:
        </br>
        <img id="evidence"/>
    </div>
    </br>
    <input id="Xbox" style="display:none;">
    </br>
    <input id="Ybox" style="display:none;">
    </br>
    <input id="Wbox" style="display:none;">
    </br>
    <input id="Hbox" style="display:none;">
</div>